body{
    background-color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 12%;
}

.container {
    background-color: #555;
    padding: 50px;
    border-radius: 10px;
}

.titulo {
    text-align: center;
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 1s;
    margin-bottom: 10px;
}

a span {
    position: relative;
    z-index: 2;
}

a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #551cb1;
    transition: all 1s;
}

a:hover {
    color: #fff;
}

a:hover:after {
    width: 100%;
}